<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Avenir:wght@500;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM Plex Mono:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend Deca:wght@400&display=swap" />
  </head>
  <body>
    <div class="cards2">
      <div class="cards3">Cards</div>
      <div class="cards4">Cards</div>
      <div class="recent-card-transactions">Recent Card Transactions</div>
      <div class="filter-by">Filter By</div>
      <div class="type-filter">
        <div class="type">Type</div>
        <img class="lsdropdown-icon" alt="" src="./public/lsdropdown.svg" />
      </div>
      <div class="sidebar-navigation">
        <div class="sidebar-navigation-child"></div>
        <div class="frame-container">
          <div class="vector-parent2">
            <div class="refund">Transactions</div>
          </div>
          <div class="vector-parent2">
            <div class="refund">Profile</div>
          </div>
          <div class="group-parent12">
            <div class="type">Log Out</div>
          </div>
          <div class="vector-parent2"></div>
        </div>
        <div class="transaction-table">
          <div class="transaction-table-child"></div>
          <div class="transaction-table-item"></div>
          <div class="date">Date</div>
          <div class="type1">Type</div>
          <div class="details">Details</div>
          <div class="amount">Amount</div>
          <div class="group-parent18">
            <% transactionList.forEach(transaction => { %>
                <div class="frame-parent1">
                      <div class="div"><%= transaction["Transaction"][""] %></div>
                      <div class="debit"><%= transaction["TransactionType"]["typeName"] %></div>
                    <div class="current-account"><%= transaction["Transaction"]["title"] %></div>
                    <div class="ghc"><%= helper(transaction["Transaction"]["amount"]) %></div>
                  </div>  
                <% }) %>
          </div>
        </div>
        <div class="cards-child"></div>
        <div class="visa-card-1-sweet-colors">
          <div class="card-surface"></div>
          <div class="gousian-layer"></div>
          <div class="number">**** - **** - **** - <%= card.censoredNumber %> </div>
          <div class="put-name-here"><%= profile.name %> </div>
          <div class="credit-text">Visa</div>
        </div>
      </div>
  </body>
</html>